
:root{
	--gray: #343A40;
    --lighGray: #42484e;
	--orange: #E18905;
	--darkOrange: #BE7404;
}


/*-----------------------------------------
            Main Styling
------------------------------------------*/
.form-container{
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 60vw;
    text-align: center;
    background-color: var(--lighGray);

    display: none;
    grid-template-rows: 1fr 3fr 1fr;
    text-align: center;
    align-items: center;

    .contact{
        width: 100%;
        height: 100%;
    }

    .form-title{
        padding-top: 8%;
        font-family: "Permanent Marker", sans-serif;
        font-size: 300%;
        color: white;
    }

    .entry{
        position: relative;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;

        input, textarea{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 300%;
            border-width: 2px;
            border-style: solid;
            border-color: var(--gray);
            font-family: inherit;
            font-size: inherit;
            color: white;
            outline: none;
            padding: 1.25rem;
            background: none;
        }

        textarea{
            height: 900%;
        }

        input:hover, textarea:hover{
            border-color: var(--orange) !important;

        }

        input:focus, textarea:focus{
            border-color: var(--orange) !important;
        }

        label{
            position: absolute;
            left: 5%;
            top: 30%;
            color: white;
            cursor: text;
            transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
            background-color: var(--lighGray);
            padding: 1%;
        }

        input:focus ~ label, textarea:focus ~ label{
            font-size: small;
            top: -14%;
            left: 3%;
        }

        input:not(:placeholder-shown) ~ label, textarea:not(:placeholder-shown) ~ label{
            font-size: small;
            top: -14%;
            left: 3%;
        }

        .error{
            position: absolute;
            font-size: 0.9rem;
            color: white;
            bottom: 10%;
            right: 2%;
            display: none;
        }
    }

    .button-wrapper{
        position: static;
        align-self: start;
    }

    .submitbtn{
        margin-right: 10%;
    }
}

.button{
    padding: 2%;

    background-color: var(--lighGray);
    border-width: 2px;
    border-style: solid;
    border-color: var(--gray);
    border-radius: 10%;
    font-size: medium;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: #E18905;
    color: var(--gray);
}


/*-----------------------------------------
            Backdrop
------------------------------------------*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--gray);
    opacity: 0.5;
    display: none;
    z-index: 2;
}

.infoPanel{
    z-index: 3;
    position: fixed;
    top: 45%;
    left: 30%;
    width: 40%;
    height: 10%;
    border-color: white;
    background-color: var(--lighGray);
    border-width: 4px;
    border-style: solid;
    display: none;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    text-align: center;
    transition: all .1s ease-in;

    .panelbtn{
        height: 60%;
        width: 70%;
        text-transform: uppercase;
        border-radius: 10%;
        padding: 10%;
    }

    .panel-text{
        color: white;
        cursor: context-menu;
    }
}